.clients-list {
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;

  @include for-size(tablet-landscape) {
    width: calc((100% - 6 * 15px) / 3);
  }
  @include for-size(desktop) {
    width: calc((100% - 12 * 15px) / 6);
  }
  
  &-box  {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
} 

.client-svg {
  fill: $grey-color;
}

.icon-client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid $grey-color;
  border-radius: 4px;

    @include for-size(desktop) {
      width: 170px;
    }

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
  }

  &:hover > .client-svg,
  &:focus > .client-svg {
    fill: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}