.clients-list {
  width: calc((100% - 30px * 5) / 6);
  margin-right: 30px;

  @include for-phone {
    .clients-list:not(:last-child) {
     margin-right: 30px;
    }
    width: calc ((100% - 30px) / 2 );

  }

  &-box  {
    display: flex;
  }
}


.client-svg {
  fill: $grey-color;
}


.icon-client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid $grey-color;
  border-radius: 4px;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
  }

  &:hover > .client-svg,
  &:focus > .client-svg {
    fill: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
