.features {
  display: flex;

  .title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primary-text-color;
    margin-top: 0;
    margin-top: 30px;
    margin-bottom: 10px;

    @include for-phone {
      text-align: center;
    }
  }

  @include for-phone {
    display: block;
    width: 100%;
  }
}

.features-box {
  // width: calc((100% - 30px * 3) / 4);
  // margin-right: 30px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  & > p {
    margin: 0;
  }
}

.features-svg {
  background-size: contain;
  width: 70px;
  height: 70px;
  fill: currentColor;
}