.contacts-list  {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  .contacts-item {
    margin-top: 9px;
  }
}

.footer-box {
  margin-bottom: 60px ;

  // &.registery {
  //   width: calc((100% - 30px) / 2);
  //   margin-top: 12px
  // }
  
  B.join {
    margin-top: 12px;
  }
}

.text-footer {
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;    
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-subscribe-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}