.conteiner.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 60px;
  font-size: 14px;
  line-height: 1.71;
  background: #2F303A;
  color: $primary-white-color; 

  .text-footer {
    margin-top: 0;
    margin-bottom: 20px;    
    text-transform: uppercase;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
  }

  @include for-phone {
    display: block;
  }
}

.contacts-list  {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  .contacts-item {
    margin-top: 9px;
  }
}


.footer-box.registery {
  width: calc((100% - 30px) / 2);
  margin-top: 12px
}

.footer-box.join {
  margin-top: 12px;
}


.footer-subscribe-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}