.page-header {
  position: relative;
  height: 60px;
  
  @include for-size(tablet-landscape) {
    display: flex;    
    height: 80px;
    border-bottom: 1px solid #ECECEC;   
  }

  // @include for-size(desktop) {
  //   height: 80px;
  // }
}

.header-svg {
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    --color4: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  } 
}

.header-svg:hover {
  --color4: $accent-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 
