.list.team {
  display: block;
  margin: -15px;
  
  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
  }
  @include for-size(desktop) {
    flex-wrap: nowrap;
  }
}

.team-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: $primary-text-color;
  margin: 30px 0 0;
}

.team-text { 
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $text-color;
  margin: 16px 0 0; 
}

.team-member {
  background-color: $primary-white-color;
  box-shadow: 
  0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @include for-size(tablet-landscape) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @include for-size(desktop) {
    margin-bottom: 0;
  }
}
// .team-member .team-img {
//   margin: 0;