.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}


.navigation-header .logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 0;
  line-height: 1.167;
  margin-right: 88px;

  @include for-size(tablet-landscape) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @include for-size(desktop) {
    width: 153px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 85px;
    line-height: 1.192;
  }
}

.logo.logo-footer {    
  color: $primary-white-color;
  justify-content: center;

  @include for-size(tablet-landscape) {
    margin-top: -12px;
  }
} 

