.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}


.navigation .logo {
  width: 153px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 85px;

  @include for-phone {
    width: 134px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 0;
    line-height: 1.167;
  }

  @include for-tablet {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}


.logo.logo-footer {    
  color: $primary-white-color;
  margin-top: -12px;
} 

