
.section {
  margin-top: 60px;
  @include for-size(desktop) {
    margin-top: 94px;
  }

  &-title {
    padding: 60px 0 30px;
    @include for-size(desktop) {
      padding: 94px 0 50px;
    }
  }

  &.team {
    background-color: #F5F4FA;
  }

  &.footer {
    padding-top: 60px;
    text-align: center;
    // padding-bottom: 60px;
    line-height: 1.71;
    background: #2F303A;
    color: $primary-white-color; 
    @include for-size (desktop) {
      text-align: left;
    }
  }
}