.site-nav {
  padding-bottom: 60px;
  text-align: center;
  // margin-right: auto; 

  & .link {
    color: $primary-text-color;

    &:hover,
    &:focus {
      color: $accent-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
    }
  }

  @include for-size(tablet-landscape) {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }  
}

@media screen and (max-width: 767px) {
  .site-nav .link-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
 .site-nav .link-item:not(:first-child) { 
    margin-left: 50px;
  }
}

.site-nav .contact-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primary-text-color;

  @include for-size (tablet-landscape) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @include for-size (desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}


/*---------------------SITE AUTH-----------------------*/

.site-auth {
  text-align: center; 
  
  @include for-size(tablet-landscape) {
    font-size: 12px;
    margin-right: 0;
    text-align: left;
    margin-left: 40px;
    padding-top: 21px;
  }

  @include for-size(desktop) {
    display: flex;
  }
  // .link-item:not(:first-child) { 
  //   margin-left: 30px;
  // } 
}

.site-auth .contact-link {
  display: block;
  align-items: center;
  max-height: 80px;
   
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: $text-color;

  &:nth-child(odd) {
    margin-bottom: 16px;
  }

  @include for-size(tablet-landscape) {
    font-size: 12px;
    line-height: 1.167;
    &:nth-child(odd) {
      margin-bottom: 10px;
    }
  }

  @include for-size(desktop) {
    display: flex;
    align-items: center;
    max-height: 80px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;  
  }

  &:hover,
  &:focus {
    color: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}   
