@media screen and (min-width: 768px) {
  .site-nav-box {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  padding-bottom: 60px;
  text-align: center;

  & .link {
    color: $primary-text-color;

    &:hover,
    &:focus {
      color: $accent-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
    }
  }

  @include for-size(tablet-landscape) {
    display: flex;
    padding-bottom: 0;
  }  
}

@media screen and (max-width: 767px) {
  .site-nav .link-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
 .site-nav .link-item:not(:first-child) { 
    margin-left: 50px;
  }
}

.site-nav .contact-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primary-text-color;

  @include for-size (tablet-landscape) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @include for-size (desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}


/*---------------------SITE AUTH-----------------------*/
.site-auth-box {
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 60px;
  }
  @media screen and (min-width: 1170px) {
    margin-left: 300px;
  }
}

.site-auth {
  @include for-size(tablet-landscape) {
    font-size: 12px;
    text-align: left;
  }

  @include for-size(desktop) {
    display: flex;
    
    .link-item:not(:first-child) { 
     margin-left: 30px;
    }
  } 
}

.site-auth .contact-link {
  display: block; 
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: $text-color;

  @include for-size(tablet-landscape) {
    font-size: 12px;
    line-height: 1.167;
  }

  @include for-size(desktop) {
    display: flex;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
} 

.site-auth li~li {
  @media screen and(max-width: 767px) {  
    margin-top: 16px;
  }
  @media screen and(max-width: 1169px) {  
    margin-top: 10px;
  }
}