*,
*:before,
*:after {
  box-sizing: border-box;
  outline: 2px solid tomato;
}

body {
  margin: 0px 0px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;    
  letter-spacing: 0.03em;
  background-color: $primary-white-color;
  color: $text-color; 
} 

.navigation {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;
}


h1,h2,h3,h4,h5 {
  color: $primary-text-color;
  font-weight: 700;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.web {
  color: $accent-color;
}

.section {
  margin-top: 60px;

  @include for-size(desktop) {
    margin-top: 94px;
  }

  &-title {
    padding: 0 0 30px;

    @include for-size(tablet-portreit) {
      padding: 60 0 30px;
    }
    @include for-size(desktop) {
      padding: 94px;
    }
  }
}

address {
  font-style: normal;
  margin-top: 20px;
}

/*----------------------------FOR PHONE------------------------*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}